MODEL_NAME=gemini-2.5-flash
GEMINI_BASE_URL=https://generativelanguage.googleapis.com/v1beta
GEMINI_API_KEY=your-gemini-api-key

MONGO_URI=mongodb+srv://<db_user>:<db_pass>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=hackai
MONGO_COLLECTION=user_roadmaps

LLM_TIMEOUT_SEC=15
LLM_MAX_RETRIES=0
LOG_LEVEL=DEBUG
